@import "vars"

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
 .welcome
  .h1
   font-size: 65px
 .header-contacts
  .row
   font-size: 14px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
 .welcome
  .h1
   font-size: 60px
 .header-contacts
  .row
   font-size: 12px
 


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
 .welcome
  .h1
   font-size: 40px
 .phone
  font-size: 18px
 .header-contacts
  .phone-h
   text-align: left

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
 .header-flex 
  .flex-center 
   .container
    left: 30px
 .welcome
  .h1
   font-size: 25px
  p
   span
    font-size: 9px
  strong
   font-size: 15px
 .header-composition 
  p
   padding-top: 30px
  .p1
   font-size: 14px

 .header-contacts
  .phone-h
   text-align: left


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
 .header-flex 
  .flex-center 
   .container
    left: 10px
 .welcome
  .h1
   font-size: 22px
 .welcome
  p 
   span 
    font-size: 9px
 .header-composition  
  .p1
   font-size: 12px

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

