@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

	&.ishome
	  .site-header
	    min-height: 640px
	    height: 100vh
	    background-color: $dark
	    color: #fff
	    .top-line
	     padding-top: 25px
	     position: absolute
	     width: 100%
	     z-index: 1

.h1, .h2, .h3, .h4, .h5, .h6
  line-height: 1.4
  text-transform: uppercase

.logo
	img
	 width: 150px
	 height: auto
	 margin-left: 45px
	 margin-top: 5px


.phone
	position: absolute
	right: 85px
	top: 44px
	font-family: firasans, sans-serif
	font-size: 20px
	width-space: nowrap
	.fa
	 color: #555
	 font-size: 30px
	 margin-right: 6px

section 
	background-color: #777

.img-responsive
	display: block
	max-width: 100%
	height: auto


.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 16px 30px
	font-size: 14px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32




.hamburger
	position: absolute
	right: 0px
	top: 34px

.hamburger-box
	width: 34px

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
  border-radius: 0
  width: 34px
  height: 2px
  background-color: #fff

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after
 background-color: #fff

.mm-navbar
	height: auto
	position: relative
	border: none
	.mm-title 
	 padding: 0

img
 width: 215px
 height: auto
 margin: 10px 0 10px


html.mm-opened
	overflow-y: scroll

.mm-panels> .mm-panel .mm-hasnavbar
	right: -18px


.mm-listview > li:not(.mm-divider):after
	border: none

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span
	background-color: transparent
	color: $accent

.mm-panels > .mm-panel:after, .mm-panels > .mm-panel:before
	height: 0

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview
	margin-top: 0

.mm-listview
 > li
  > a
    transition: color .25s ease
    padding-left: 10%
    padding-right: 10%
    padding-top: 8px
    &:hover
      color: $accent
      &::before
         color: $accent
    &::before
      content: '\f219' 
      font-family: fontawesome
      margin-right: 8px
      text-decoration: none
      color: #fff
      transition: color .25s ease
  &.active
	  &>a
	    color: $accent


.header-flex
	display: flex
	height: 100%
	position: relative
	top: 0
	left: 0px

.header-flex
	.flex-center
	 .container
	  position: absolute
	  left: 50px
	  top: 150px



.flex-center
	margin: auto

.header-composition
	text-align: center
	position: relative
	p 
	 padding-top: 40px
	.button
	 margin-top: 25px

.welcome
	p
	 font-size: 16px
	 text-transform: uppercase
	 display: flex
	 align-items: center
	 white-space: nowrap
	 margin: 0
	 margin-bottom: -5px

	 span
	  margin: 0 10px
		&:before, &:after
		 content: ''
		 height: 1px
		 width: 100%
		 position: relative
		 background-color: #fff
		 display: inline-block
	.h1
	 font-weight: 100
	 font-size: 70px
	 margin: 5px 0 5px 0
	 line-height: 1.6
	 border-bottom: 1px solid #fff
	 white-space: nowrap
 strong
  display: block
  text-transform: uppercase
  font-size: 17px
  margin-top: 25px
  .fa
   margin-right: 10px
   font-size: 16px
   color: #555
   &:last-child
     margin-left: 10px
     margin-right: inherit

.header-social
	position: absolute
	display: flex
	right: 0
	height: 100%
	border-left: rgba(#fff, .1) 1px solid
	top: 0
	padding: 0 12.5px

.soc
	margin: auto
	ul, li 
	 margin: 0
	 padding: 0
	 list-style-type: none
 a
		color: #2c2c2c
		font-size: 17px
		display: block
		background-color: rgba(#fff, .2)
		height: 38px
		width: 38px
		text-align: center
		margin: 18px 0
		line-height: 38px
		border-radius: 10em
		transition: background-color .25s ease
		&:hover
		  background-color: rgba(#fff, .4)

.header-contacts
	position: absolute
	bottom: 0
	left: 0
	border-top: rgba(#fff, .15) 1px solid
	padding: 12.5px 0
	width: 100%
	background-color: rgba(#151515, .15)
	.fa
	 margin-right: 5px
	 color: #555
	 font-size: 16px
	.phone-h
	 font-family: firasans, sans-serif
	 text-align: center

$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
  .carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i})
    background-color: nth($colors, $i)

.carousel-services
	&-item
	 color: #fff
	 font-size: 18px
	 font-weight: 300
	 position: relative
	 display: flex
   flex-direction: column-reverse



	&-image

.s-services
	background-color: #fff


@import "media" // Всегда в конце
